# Data Sciennce Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Present a table of useful Data Science tools  
- Perform basic arithmetic operations in Python  
- Convert units (e.g., minutes to hours) using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPY
2. Pandas
3. TensorFlow

|Data Science Tools |
|------------------ |
|Jupyter notebook   |
|RStudio            |
|VS code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Emilly Fernandes